@model MvcBlog.Models.Uye

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .dairesel {
        width: 100px;
        height: 100px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
    }
</style>
<br />
<h2>Detaylar</h2>
<hr />
<div>
    <h4>Uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yetki.Yetki1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetki.Yetki1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            <img src="@Model.Foto" class="img-thumbnail dairesel" width="75" />
        </dt>

      
    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.UyeID }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
