@model IEnumerable<MvcBlog.Models.Kategori>

@{ 
    Layout = null;
}
<style>
    .mavi {
        color:dodgerblue
    }
</style>
<h5 class="card-header mavi">Kategoriler</h5>
<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            @foreach (var item in Model)
            {
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/Home/KategoriMakale/@item.KategoriID">@item.KategoriAdi <span class="badge badge-primary badge-pill" > (@item.Makales.Count()) </span></a>
                    </li>

                </ul>
            }
            
        </div>
    </div>
</div>

        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.KategoriAdi)
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KategoriAdi)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.KatagoriID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.KatagoriID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.KatagoriID })
                    </td>
                </tr>
            }

            </table>*@
